* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  background: linear-gradient(#004e92, #000428);
  background-attachment: fixed;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.025rem;
  margin: 0px;
  padding-top: 40px;
}

@media (min-width: 768px) {
  body {
    font-size: 1rem;
  }
}

a {text-decoration: none;}
a:hover {color: orange;}

.Coin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  height: 70px;
}

@media (min-width: 768px) {
  .Coin {
    height: 100px;
  }
}

.github-logo {
  background-image: url('./logo-github.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 25px;
  height: 25px;
}

.Navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.9);
  height: 40px;
  width: 100%;
  z-index: 1;
}

.Navbar__item {color: white;}

.Navbar__item:hover {
  color: orange;
  text-decoration: none;
}

@-webkit-keyframes RED-FADE {
  0%   { background-color: #f44336; }
  100% { background-color: transparent; }
}
@-moz-keyframes RED-FADE {
  0%   { background-color: #f44336; }
  100% { background-color: transparent; }
}
@-o-keyframes RED-FADE {
  0%   { background-color: #f44336; }
  100% { background-color: transparent; }
}
@keyframes RED-FADE {
  0%   { background-color: #f44336; }
  100% { background-color: transparent; }
}

@-webkit-keyframes GREEN-FADE {
  0%   { background-color: #8bc34a; }
  100% { background-color: transparent; }
}
@-moz-keyframes GREEN-FADE {
  0%   { background-color: #8bc34a; }
  100% { background-color: transparent; }
}
@-o-keyframes GREEN-FADE {
  0%   { background-color: #8bc34a; }
  100% { background-color: transparent; }
}
@keyframes GREEN-FADE {
  0%   { background-color: #8bc34a; }
  100% { background-color: transparent; }
}

.tickGreen {
  -webkit-animation: GREEN-FADE 1s ;
  -moz-animation:    GREEN-FADE 1s ;
  -o-animation:      GREEN-FADE 1s ;
  animation:         GREEN-FADE 1s ;
}

.tickRed {
  -webkit-animation: RED-FADE 1s ;
  -moz-animation:    RED-FADE 1s ;
  -o-animation:      RED-FADE 1s ;
  animation:         RED-FADE 1s ;
}
