@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,700&display=swap&subset=latin-ext');

* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  background: linear-gradient(#004e92, #000428);
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Roboto Condensed', 'Open Sans', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  margin: 0px;
  padding-top: 50px;
}

@media (min-width: 768px) {
  body {
    font-size: 1.125rem;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover { color: orange; }

select { cursor: pointer; }

.coin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black; 
  text-align: center;
  height: 70px;
}

.Coin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  height: 70px;
}

@media (min-width: 768px) {
  .coin {
    height: 100px;
  }
}

[class*='flex-'] { display: flex; }
.flex-center { align-items: center; justify-content: center; }
.flex-col { flex-direction: column; }
.flex-row { flex-direction: row; }

.github-logo {
  background-image: url('./logo-github.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 25px;
  height: 25px;
}

#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.95);
  color: white;
  width: 100%;
  height: 50px;
  z-index: 10;
}

#navbar a {
  color: white;
}

#navbar a:hover {
  color: orange;
}

@-webkit-keyframes RED-FADE {
  0%   { background-color: #f44336; }
  100% { background-color: transparent; }
}
@-moz-keyframes RED-FADE {
  0%   { background-color: #f44336; }
  100% { background-color: transparent; }
}
@-o-keyframes RED-FADE {
  0%   { background-color: #f44336; }
  100% { background-color: transparent; }
}
@keyframes RED-FADE {
  0%   { background-color: #f44336; }
  100% { background-color: transparent; }
}

@-webkit-keyframes GREEN-FADE {
  0%   { background-color: #8bc34a; }
  100% { background-color: transparent; }
}
@-moz-keyframes GREEN-FADE {
  0%   { background-color: #8bc34a; }
  100% { background-color: transparent; }
}
@-o-keyframes GREEN-FADE {
  0%   { background-color: #8bc34a; }
  100% { background-color: transparent; }
}
@keyframes GREEN-FADE {
  0%   { background-color: #8bc34a; }
  100% { background-color: transparent; }
}

.tickGreen {
  -webkit-animation: GREEN-FADE 1s ;
  -moz-animation:    GREEN-FADE 1s ;
  -o-animation:      GREEN-FADE 1s ;
  animation:         GREEN-FADE 1s ;
}

.tickRed {
  -webkit-animation: RED-FADE 1s ;
  -moz-animation:    RED-FADE 1s ;
  -o-animation:      RED-FADE 1s ;
  animation:         RED-FADE 1s ;
}
