* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #03a9f4;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #fff;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.icon {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}

.icon-github-white {
  background-image: url('../img/icons/github_white_120.png');
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(0,0,0,0.5);
}

.nav-link {
  display: flex;
  align-items: center;
  height: 50px;
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  color: orange;
}

.stock {
  background-color: rgba(0,0,0,0.5);
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid rgba(0,0,0,0.5);
  width: 100%;
  height: 12.5vh;
}

@media (min-width: 640px) {
  .stock {
    height: 25vh;
  }
}

.container {
  margin-left: 15px;
  margin-right: 15px;
  width: auto;
}

.row {
  width: 100%;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.row:before, 
.row:after {
  content:"";
  display: table ;
  clear:both;
}

[class*='col-'] {
  float: left;
  min-height: 1px; 
}

.col-xs-3 {width: 25%;}
.col-xs-4 {width: 33.33%;}
.col-xs-6 {width: 50%;}

@media (min-width: 640px) {
  .col-sm-3 {
    width: 25%;
  }
}

@-webkit-keyframes RED-FADE {
  0%   { background-color: #f44336; }
  100% { background-color: rgba(0,0,0,0.5); }
}
@-moz-keyframes RED-FADE {
  0%   { background-color: #f44336; }
  100% { background-color: rgba(0,0,0,0.5); }
}
@-o-keyframes RED-FADE {
  0%   { background-color: #f44336; }
  100% { background-color: rgba(0,0,0,0.5); }
}
@keyframes RED-FADE {
  0%   { background-color: #f44336; }
  100% { background-color: rgba(0,0,0,0.5); }
}

@-webkit-keyframes GREEN-FADE {
  0%   { background-color: #8bc34a; }
  100% { background-color: rgba(0,0,0,0.5); }
}
@-moz-keyframes GREEN-FADE {
  0%   { background-color: #8bc34a; }
  100% { background-color: rgba(0,0,0,0.5); }
}
@-o-keyframes GREEN-FADE {
  0%   { background-color: #8bc34a; }
  100% { background-color: rgba(0,0,0,0.5); }
}
@keyframes GREEN-FADE {
  0%   { background-color: #8bc34a; }
  100% { background-color: rgba(0,0,0,0.5); }
}

.tickGreen {
  -webkit-animation: GREEN-FADE 1s ;
  -moz-animation:    GREEN-FADE 1s ;
  -o-animation:      GREEN-FADE 1s ;
  animation:         GREEN-FADE 1s ;
}

.tickRed {
  -webkit-animation: RED-FADE 1s ;
  -moz-animation:    RED-FADE 1s ;
  -o-animation:      RED-FADE 1s ;
  animation:         RED-FADE 1s ;
}
